<header>
  <nav class="navtop">
    <!-- Logo -->
    <div class="logo">
      <a href="/">
        <img src="/img/ClickRateImagotipo.svg" alt="logo de la web">
      </a>
    </div>
    <!-- Botones -->
    <div class="nav_links">
      <a href="/skins"> Skins </a>
      <a href="/tienda"> Tienda </a>
      <a href="/inventario"> Inventario</a>
    </div>
    
    <div class="user-menu" >
      <a href="#" id="userBtn">
        <img src="/img/usuarioLogo.webp" alt="usuario" class="user-icon" >
      </a>
      <div class="dropdown container" id="dropdownMenu">
        <a href="/login">Ingresar</a>
        <a href="/register">Registrarse</a>
      </div>
    </div>    

  </nav>
  <script src="/js/scripts.js"></script>
</header>