<header>
  <nav class="navtop">
    <!-- Logo -->
    <div class="logo">
      <a href="/TP03/clickrate-frontend/index.html">
        <img src="/TP03/clickrate-frontend/assets/ClickRateImagotipo.svg" alt="logo de la web">
      </a>
    </div>
    <!-- Botones -->
    <div class="nav_links">
      <a href="/TP03/clickrate-frontend/pages/Skins/Skins.html"> Skins </a>
      <a href="/TP03/clickrate-frontend/pages/Tienda/Tienda.html"> Tienda </a>
      <a href="/TP03/clickrate-frontend/pages/Inventario/Inventario.html"> Inventario</a>
    </div>
    
    <div class="user-menu" >
      <a href="#" id="userBtn">
        <img src="/TP03/clickrate-frontend/assets/usuarioLogo.webp" alt="usuario" class="user-icon" >
      </a>
      <div class="dropdown container" id="dropdownMenu">
        <a href="/TP03/clickrate-frontend/pages/Login/Login.html">Ingresar</a>
        <a href="/TP03/clickrate-frontend/pages/Register/Register.html">Registrarse</a>
      </div>
    </div>    

  </nav>
  <script src="/TP03/clickrate-frontend/scripts/scripts.js"></script>
</header>