<header>
  <nav class="navtop">
    <!-- Logo -->
    <div class="logo">
      <a href="/TP02/index.html">
        <img src="/TP02/assets/logo.png" alt="logo de la web">
      </a>
    </div>
    <!-- Botones -->
    <div class="menu_links">
      <a href="/TP02/pages/Skins/Skins.html"> Skins </a>
      <a href="/TP02/pages/Tienda/Tienda.html"> Tienda </a>
      <a href="/TP02/pages/Inventario/Inventario.html"> Inventario</a>
    </div>
    <div class="user-menu">
      <img src="/TP02/assets/usuarioLogo.webp" alt="usuario" class="user-icon" id="userBtn">
      <div class="dropdown" id="dropdownMenu">
        <a href="/TP02/pages/Login/Login.html">Ingresar</a>
        <a href="/TP02/pages/Register/Register.html">Registrarse</a>
      </div>
    </div>
  </nav>
  <script src="../scripts/scripts.js"></script>
</header>