<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/img/ClickRateIsotipo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/case.css">
    <script src="/js/layout.js"></script>
    <script src="/js/background.js"></script>
    <title>Detalle de Caja</title>
</head>

<body>
    <div class="fondo"></div>
    <div id="header"></div>

    <main>
        <section id="case-container" class="main_div container"></section>
    </main>

    <div id="footer"></div>

    <script src="/js/scripts.js" defer></script>
    <script src="/js/case.js" defer></script>
</body>

</html>