<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/img/ClickRateIsotipo.svg" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/login.css">
  <script src="/js/layout.js"></script>
  <script src="/js/background.js"></script>
  <title>Login</title>
</head>

<body>
  <!-- Fondo rotativo -->
  <div class="fondo"></div>
  <div id="header"></div>

  <main>
    <section class="main_div container">
      <div class="gid-view__selection--headers">
        <h1>Ingresa tu e-mail o telefono para iniciar sesion</h1>
      </div>

      <div></div><!-- espacio -->
      <div>
        <div class="login-form__input">
          <label></label>
          <div>
            <input type="email">
          </div>
        </div>
        <div class="login-form_actions">
          <button></button>
          <a href=""></a>
        </div>
      </div>
    </section>
  </main>

  <div id="footer"></div>
  <script src="/js/scripts.js" defer></script>
</body>

</html>