<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <link rel="icon" href="/img/ClickRateIsotipo.svg" type="image/x-icon">
   <link rel="stylesheet" href="/css/styles.css">
   <link rel="stylesheet" href="/css/register.css">
   <script src="/js/layout.js"></script>
   <script src="/js/background.js"></script>
   <title>Registro</title>
</head>

<body>
   <div class="fondo"></div>
   <div id="header"></div>

   <main>
      <section class="main_div container">
         <div class="gid-view__selection--headers">
            <h1>Registrarse</h1>
         </div>
         <form id="registerForm" class="form">
            <label>Nickname:</label>
            <input type="text" name="nickname" required>

            <label>Email:</label>
            <input type="email" name="email" required>

            <label>Contraseña:</label>
            <input type="password" name="password" required>

            <label>Repetir contraseña:</label>
            <input type="password" name="confirmPassword" required>
            
            <button type="submit">Registrarse</button>
         </form>

         <p id="msg"></p>
      </section>
   </main>

   <div id="footer"></div>

   <script src="/js/scripts.js" defer></script>
   <script src="/js/register.js" defer></script>
</body>

</html>