<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/img/ClickRateIsotipo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/skin.css">
    <script src="/js/layout.js"></script>
    <script src="/js/background.js"></script>
    <title>Detalle de Skin</title>
</head>

<body>
    <div class="fondo"></div>
    <div id="header"></div>

    <main>
        <section id="skin-details" class="main_div container skin_details"></section>
    </main>

    <div id="footer"></div>

    <script src="/js/scripts.js"></script>
    <script src="/js/skin.js"></script>
</body>

</html>